<div class="row">
	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Certificates</div>
			<table datatable="" dt-options="certificateOptions.dtOptions" dt-columns="certificateOptions.dtColumns"
				dt-instance="certificateOptions.dtInstanceCallback" class="dataTable table"></table>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Signed Documents</div>
			<table datatable="" dt-options="signedDocOptions.dtOptions" dt-columns="signedDocOptions.dtColumns"
				dt-instance="signedDocOptions.dtInstanceCallback" class="dataTable table"></table>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Shared Documents</div>
			<table datatable="" dt-options="sharedDocOptions.dtOptions" dt-columns="sharedDocOptions.dtColumns"
				dt-instance="sharedDocOptions.dtInstanceCallback" class="dataTable table"></table>
		</div>
	</div> 
</div>
		
<script type="text/ng-template" id="sharedDocDialog">
    <h1>Share Document</h1>
    <form name="shareDocForm" class="form-horizontal">
		<div class="form-group">
			<label for="name" class="col-sm-4 control-label">Selected File:</label>
			<div class="col-sm-8">
				<p class="form-control-static">
				{{documentToBeShared.file}}
				</p>
			</div>
		</div>
		<div class="form-group">
			<label for="name" class="col-sm-4 control-label">Select Type:</label>
			<div class="col-sm-8">
				<div class="checkbox">
					<label ng-repeat="(docName, docValue) in documentTypes"><input type="checkbox" value="{{docValue}}" ng-checked="documentToBeShared.types.indexOf(docValue)!=-1" ng-click="fnSelectDocTypes(docValue)">{{docName}} &nbsp;</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-8 col-sm-offset-4">
				<button type="button" class="btn btn-primary" ng-click="shareSignDoc()" ng-disabled="!documentToBeShared.types.length">Share</button>
				<button type="reset" class="btn btn-default">Reset</button>
			</div>
		</div>
	</form>					
</script>
