<div class="row">
	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Request Form</div>
			<div class="panel-body">
				<form name="requestForm" class="form-horizontal">
					<div class="form-group">
						<label for="name" class="col-sm-4 control-label">Aadhar No:</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" name="aadharNo" maxlength="12"
								placeholder="Aadhar No" ng-model="request.aadharNo" required>
						</div>
					</div>
					<div class="form-group">
						<label for="name" class="col-sm-4 control-label">Select Document:</label>
						<div class="col-sm-8">
							<div class="checkbox">
								<label ng-repeat="(docName, docValue) in documentList"><input type="checkbox" value="{{docValue}}" ng-checked="request.documents.indexOf(docValue)!=-1" ng-click="docSelected(docValue)">{{docName}} &nbsp;</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-8 col-sm-offset-4">
							<button type="button" class="btn btn-primary" ng-click="sendRequest()" ng-disabled="!(requestForm.$valid && request.documents.length)">Send Request</button>
							<button type="reset" class="btn btn-default">Reset</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">Document Shared with Me</div>
			<table datatable="" dt-options="docsShared.dtOptions" dt-columns="docsShared.dtColumns"
				dt-instance="docsShared.dtInstanceCallback" class="dataTable table"></table>
		</div>
	</div>
	<div class="col-md-8">
		<div class="panel panel-primary">
			<div class="panel-heading">Requests</div>
			<table datatable="" dt-options="requestsOptions.dtOptions" dt-columns="requestsOptions.dtColumns"
				dt-instance="requestsOptions.dtInstanceCallback" class="dataTable table"></table>
		</div>
	</div>
</div>
<script type="text/ng-template" id="docSharedDialog">
    <h1>Share Document</h1>
    <form class="form-horizontal">
		<div class="form-group">
			<label for="name" class="col-sm-4 control-label">Citizen Name:</label>
			<div class="col-sm-8">
				<p class="form-control-static">
				{{docDetails.name}}
				</p>
			</div>
		</div>
		<div class="form-group">
			<label for="name" class="col-sm-4 control-label">Aadhar No:</label>
			<div class="col-sm-8">
				<p class="form-control-static">
				{{docDetails.aadharNo}}
				</p>
			</div>
		</div>
		<div class="form-group">
			<label for="name" class="col-sm-4 control-label">Documents:</label>
			<div class="col-sm-8">
				<p class="form-control-static">
					<span ng-repeat="doc in docDetails.types"><span ng-if="$index!=0">, </span>{{doc}}</span>
				</p>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-8 col-sm-offset-4">
				<button type="button" class="btn btn-default pull-right" ng-click="viewDocDialog.close()">Close</button>
			</div>
		</div>
	</form>	
</script>