<h1>Upload Certificate</h1>
<form name="uploadCertifcateForm" class="form-horizontal">
	<div class="form-group">
		<label for="name" class="col-sm-4 control-label">Certificate File:</label>
		<div class="col-sm-8">
			<input type="file" file-model="FormData.myFile" class="form-control" name="certificate" />
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-8 col-sm-offset-4">
			<button type="button" class="btn btn-primary" ng-click="uploadFile()">Save</button>
			<button type="reset" class="btn btn-default">Reset</button>
		</div>
	</div>
</form>