body {
  /* padding-top: 40px;
  padding-bottom: 40px;
  background-color: #333; */
  
}
body.login{
	background: #000;
}
.login .navbar{
	display: none;
}
.loginForm{
	background-color: #111;
	margin-top: 10%;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
}
.page-header{
	margin-top: 0;
}
.page-header h1{
	margin: 5px 0;	
}
.page-header h1 small{
	color:#eee;
}
.navbar-default{
	background: #222;
	/* padding: 10px; */
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border: none;
	color:#fff;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover{
	color:#fff;
	padding-right: 25px;
}
.navbar-default #navbar{
	margin-top: 12px;
}
.navbar-nav > li > a{
	padding-bottom: 5px;
	padding-top: 5px;
}
.navbar-default .navbar-nav > li > a:hover{
	color:#eee;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus{
	color:#ccc;
}
.panel .dataTables_wrapper{
	padding:5px;
}
.dataTables_wrapper .toolbar{
	display: inline-block;
}
.dataTables_info{
	float:left;
}
.ngdialog.ngdialog-theme-plain.custom-width .ngdialog-content {
    width: 600px;
}