<h1>Change Password</h1>
<form name="changePasswordForm" class="form-horizontal">
	<div class="form-group">
		<label for="name" class="col-sm-4 control-label">Current Password:</label>
		<div class="col-sm-7">
			<input type="password" ng-model="passwords.old" class="form-control" name="password" required/>
		</div>
	</div>
	<div class="form-group">
		<label for="name" class="col-sm-4 control-label">New Password:</label>
		<div class="col-sm-7">
			<input type="password" ng-model="passwords.newPassword" class="form-control" name="nPassword" required/>
		</div>
	</div>
	<div class="form-group">
		<label for="name" class="col-sm-4 control-label">Confirm Password:</label>
		<div class="col-sm-7">
			<input type="password" ng-model="passwords.confirm" class="form-control" name="cnPassword" required/>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-7 col-sm-offset-4">
			<button type="button" class="btn btn-primary" ng-click="changePassword()" ng-disabled="changePasswordForm.$invalid || passwords.newPassword!=passwords.confirm">Change</button>
			<button type="reset" class="btn btn-default">Reset</button>
		</div>
	</div>
</form>