<div class="col-md-4 col-md-offset-4 loginForm">
	<div class="page-header">
	    <h1><small>Login</small></h1>
	</div>
	<form class="col-md-12">
	    <div class="form-group">
	        <input type="text" name="username" class="form-control" placeholder="Username" ng-model="username">
	    </div>
	    <div class="form-group">
	        <input type="password" class="form-control" name="password" placeholder="Password" ng-model="password">
	    </div>
	    <div class="form-group">
	        <button class="btn btn-success btn-block" id="signIn" ng-disabled="!(username.length && password.length)" ng-click="doLogin();">Sign In</button>
	        <span>&nbsp;<!-- <a href="#!login">Forgot Password?</a> --></span>
	        <span class="pull-right"><a href="#register">Register</a></span>
	    </div>
	</form>
</div>