<h1>OTP Verification</h1>
<form name="OTPForm" class="form-horizontal">
	<div class="form-group">
		<label for="name" class="col-sm-4 control-label">Aadhar No:</label>
		<div class="col-sm-8">
			<input type="text" class="form-control" name="aadharNo"
				placeholder="Aadhar Number" ng-model="otp.aadharNo" required maxlength="12">
		</div>
	</div>
	<div class="form-group">
		<label for="name" class="col-sm-4 control-label">OTP:</label>
		<div class="col-sm-8">
			<input type="password" class="form-control" name="otp"
				placeholder="Token" ng-model="otp.token" required>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-8 col-sm-offset-4">
			<button type="button" class="btn btn-primary" ng-disabled="OTPForm.$invalid" ng-click="verifyOTP()">Verify</button>
			<button type="reset" class="btn btn-default">Reset</button>
		</div>
	</div>
</form>