<div class="col-md-4 col-md-offset-4 loginForm">
	<div class="page-header">
	    <h1><small>Register</small></h1>
	</div>
	<form class="col-md-12" name="registerForm">
	    <div class="form-group">
	        <input type="text" class="form-control" ng-required="true" name="aadharNo" ng-model="user.aadharNo" placeholder="Aadhar Number">
	    </div>
	    <div class="form-group">
	        <input type="text" class="form-control" ng-required="true" name="mobileNo" ng-model="user.mobileNo" placeholder="Mobile Number">
	    </div>
	    <div class="form-group">
	        <input type="text" class="form-control" ng-required="true" name="username" ng-model="user.username" placeholder="Username/LoginName">
	    </div>
	    <div class="form-group">
	        <input type="email" class="form-control" name="email" ng-model="user.email" placeholder="Email Address">
	    </div>
	    <div class="form-group">
	        <button class="btn btn-warning btn-block" id="btnRegister" ng-click="doRegister()" ng-disabled="registerForm.$invalid">Register</button>
	        <span><a href="#login">&laquo; Back to Login</a></span>
	        <span class="pull-right"><a href="javascript:void(0);" ng-click="openOTPDialog()">Enter OTP</a></span>
	    </div>
	</form>
</div>