<h1>Approval Requests</h1>
<table datatable="" dt-options="requestsOptions.dtOptions" dt-columns="requestsOptions.dtColumns"
				dt-instance="requestsOptions.dtInstanceCallback" class="dataTable table"></table>