<h1>{{mode}} Merchant</h1>
<form name="merchantForm" class="form-horizontal">
	<div class="form-group">
		<label for="name" class="col-sm-2 control-label">Name:</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" name="name"
				placeholder="Name" ng-model="merchant.name" required>
		</div>
	</div>
	<div class="form-group">
		<label for="name" class="col-sm-2 control-label">Username:</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" name="username"
				placeholder="Username" ng-model="merchant.username" required>
		</div>
	</div>
	<div class="form-group">
		<label for="name" class="col-sm-2 control-label">Email Address:</label>
		<div class="col-sm-4">
			<input type="email" class="form-control" name="email"
				placeholder="Email address" ng-model="merchant.email" required>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-2 col-sm-offset-2">
			<button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="merchantForm.$invalid">Save</button>
			<button type="reset" class="btn btn-default">Reset</button>
		</div>
	</div>
</form>